*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.phan-1{
    /* background-color: lightblue; */
    background-image: url('img/b3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    padding: 0 0;
    position: relative;
}
.menu-a{
    /* background-color: aqua; */
    overflow: hidden;
    border-bottom: solid 2px rgba(190,190,190,0.2);
}
.menu-1{
    /* background-color: #B5B5B5; */
    float: left;
    font-size: 35px;
    padding: 20 40px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.menu-1>a{
    color: white;
    text-decoration: none;
}
ul.menu-2{
    list-style: none;
    margin:0;
    padding: 0;
    padding-right: 10px;
    /* background-color: mediumaquamarine; */
    overflow: hidden;
}
.menu-2>li{
    float: right;
    padding: 30 0;
    font-size: 17px;
    /* background-color: olivedrab; */
}
.menu-2 a{
    color: white;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    padding: 20 30;
    text-decoration: none;
    transition: 0.7s;
    letter-spacing: 1.5px;
}
.menu-2 a:hover{
    color: #B5B5B5;
}
.ul-2{
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.3);
}
.ul-2>li{
    padding: 10 0;
}
li.drop:hover>.ul-2{
    display: block;
    margin-top: 5px;
    background-color: black;
}
.ul-2 a{
    font-size: 16px;
    padding: 15 15;
    padding-right: 100px;
    font-weight: bold;
    letter-spacing: 1px;
}
.ul-2 a:hover{
    color: #CFCFCF;
    transition: 0.7s;
    /* background-color: black; */
}

.menu-b{
    /* background-color: darkcyan; */
    color: white;
    width: 50%;
    margin: auto;
    /* margin-top: 15%; */
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 40%;
    left: 25%;
}
.menu-b>h1{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 1px;
}
.menu-b>h2{
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    font-weight: normal;
    padding: 0 0px;
    letter-spacing: 1px;
}
.menu-b>p{
    padding: 0 200px;
    font-family: 'Mada', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}
/* PHAN 2 */
div.phan-2{
    /* background-color: lightblue; */
    width: 75%;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
}
.left2-1{
    float: left;
    width: 50%;
}
.rgt2-2{
    float: right;
    width: 50%;
    text-align: right;
    /* background-color: darkgoldenrod; */
}
.rgt2-2>h1{
    font-family: 'Poiret One', cursive;
    color: #fd5c63;
    font-size: 40px;
    font-weight: inherit;
}
.rgt2-2>a{
    color: #fd5c63;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    letter-spacing: 1px;
}
/* PHẦN 3 */
div.phan-3{
    /* background-color: lightblue; */
    width: 75%;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
}
.phan-3 h5{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    margin: 10px 0;
}
.phan-3 h4{
    font-family: 'Poiret One', cursive;
    color: #777;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.phan-3 P{
    font-family: 'Mada', sans-serif;
    margin: 0;
    letter-spacing: 1px;
    margin-top: 20px;
}
div.phan-3>h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #fd5c63;
    font-weight: inherit;
    font-size: 42px;
}
.left3-1{
    float: left;
    width: 33.3%;
    padding: 5px;
}
.box3-1{
    border: solid 1px #E8E8E8;
}
.box3-1>img{
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
.box3-1>div{
    padding: 20px;
}
.left3-2{
    float: left;
    width: 33.3%;
    padding: 5px;
}
.box3-2{
    border: solid 1px #E8E8E8;
}
.box3-2>img{
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
.box3-2>div{
    padding: 20px;
}
.left3-3{
    float: left;
    width: 33.3%;
    padding: 5px;
}
.box3-3{
    border: solid 1px #E8E8E8;
}
.box3-3>img{
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
.box3-3>div{
    padding: 20px;
}
                /*Phan 4*/
div.phan-4{
    background-image: url('img/b2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 60px;
    color: white;
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.phan-4 h5{
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15px 0;
}
.phan-4 h6{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px 0;
}
.left4-1{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 30px;
    margin: 0 20px;
}
.left4-2{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 30px;
    margin: 0 20px;
}
.left4-3{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 30px;
    margin: 0 20px;
}
.left4-4{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 30px;
    margin: 0 20px;
}

                /* Phan 5 */
.phan5-cap{
    font-family: 'Poiret One', cursive;
    color: #fd5c63;
    font-size: 40px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
div.phan-5{
    /* background-color: darkcyan;  */
    width: 70%;
    margin: 60px auto;
    color: black;
    font-family: 'Mada', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.phan-5 h4{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 15px 0;
    font-family: 'Poiret One', cursive;
}
.phan-5 p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}
.phan-5 i{
    color: #fd5c63;
}
.left5-1{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 40px;
    width: 30%;
    padding: 0 15px;
}
.left5-2{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 40px;
    width: 30%;
    padding: 0 15px;
}
.left5-3{
    text-align: center;
    font-size: 40px;
    width: 30%;
    padding: 0 15px;
}
.left5-4{
    /* background-color: dodgerblue; */
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    width: 30%;
    padding: 0 15px;
}
.left5-5{
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    width: 30%;
    padding: 0 15px;
}
.left5-6{
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    width: 30%;
    padding: 0 15px;
}
                /* Phan 6 */
.phan-6{
    background-image: url('img/b6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 470px;
    color: black;
    font-family: 'Mada', sans-serif;
    position: relative;
}
.phan-6 h3{
    top: 80px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #fd5c63;
    text-align: center;
    letter-spacing: 2px;
    margin: 15px 0;
    font-family: 'Poiret One', cursive;
}
.phan-6 img{
    border-radius: 50px;
}
.avatar-1{
    width: 4%;
    position: absolute;
    top: 135px;
    left: 42%;
    z-index: 2;
}
.avatar-2{
    width: 4%;
    position: absolute;
    top: 135px;
    left: 74%;
    z-index: 2;
}
.phan6-flex{
    position: absolute;
    margin-top: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 1;
}
.left6-1{
    margin-right: 20px;
    padding: 20px 15px;
    background-color: white;
    text-align: center;
    width: 30%;
}
.left6-1>p{
    font-family: 'Mada', sans-serif;
    line-height: 25px;
    font-size: 17px;
}
.left6-1>h4{
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.left6-2{
    background-color: white;
    margin-left: 20px;
    padding: 20px 15px;
    text-align: center;
    width: 30%;
}
.left6-2>p{
    font-family: 'Mada', sans-serif;
    line-height: 25px;
    font-size: 17px;
}
.left6-2>h4{
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}
                /* Phan 7 */
.phan7-cap{
    font-family: 'Poiret One', cursive;
    color: #fd5c63;
    font-size: 40px;
    width: 75%;
    margin: auto;
    margin-top: 50px;
}
.phan-7{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    /* height: 400px; */
    /* background-color: lightskyblue; */
    overflow: hidden;
}
.left7-1>a{
    color: #fd5c63;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    letter-spacing: 1px;
}
.left7-1{
    float: left;
    width: 50%;
    padding-right: 0px;
    padding-top: 20px;
    /* background-color: darkkhaki; */
}
.left7-1>h4{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}
.left7-1>p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
}
.rgt7-1{
    float: right;
    width: 45%;
}
                /*Phan 8*/
.phan-8{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    /* height: 400px; */
    /* background-color: lightskyblue; */
    overflow: hidden;
}
.left8-1{
    float: left;
    width: 45%;
    padding-right: 0px;
    /* background-color: darkkhaki; */
}
.rgt8-1{
    float: right;
    width: 50%;
    padding-top: 50px;
}
.rgt8-1>h4{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}
.rgt8-1>p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
}
.rgt8-1>a{
    color: #fd5c63;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    letter-spacing: 1px;
}
.phan-9{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    /* height: 400px; */
    /* background-color: lightskyblue; */
    overflow: hidden;
}
.left9-1{
    float: left;
    width: 50%;
    padding-right: 0px;
    padding-top: 50px;
}
.left9-1>h4{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}
.left9-1>p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
}
.left9-1>a{
    color: #fd5c63;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    letter-spacing: 1px;
}
.rgt9-1{
    float: right;
    width: 45%;
}
                /* PHAN 10 */
.phan-10{
    background-color: black;
    margin-top: 80px;
}
.footer{
    /* background-color: lightblue; */
    width: 50%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
.footer h2{
    font-size: 29px;
    letter-spacing: 1px;
    font-family: 'Poiret One', cursive;
    margin-bottom: 40px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer>p{
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Mada', sans-serif;
    margin: 30px 0;
}
ul.icon{
    list-style: none;
    padding: 0;
    margin: 0;
}
.icon li{
    display: inline-block;
    width: 75px;
    font-size: 30px;
}
.icon a{
    color: #6f6e6e;
}
.icon a:hover{
    color: white;
    transition: 0.6s;
}
.footer>a{
    font-size: 30px;

}